/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    background: #EEEEEE url("assets/college.jpg") center center no-repeat fixed;
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: cover; */
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center {
    text-align: center;
}


